body {
	background-image: url('https://images8.alphacoders.com/413/413078.jpg');
	background-size:100%;
}
.container {
  margin: 20px;
}
.modal-container {
  position: relative;
}
/*.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}*/
