/***************/
/***************/
/* GENERAL */
/***************/
/***************/

body {
    background: url('beerbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

/***************
/***************/
/* HEADER */
/***************/
/***************/

.heading {
    margin-top: 40px;
    font-family: 'Arvo', serif;
}
.heading h1 {
    font-size: 3.2em;
    color: #efefef;
    margin-top: -3px;
}
.heading h4 {
    font-size: 1.8em;
    color: #ccc;
}
.modal-container {
    position: relative;
    margin-bottom: 160px;
}

/***************/
/***************/
/* FORM */
/***************/
/***************/

form {
    padding: 10px;
}
.input-large {
    margin-bottom: 15px;
    font-size: 16px;
    height: 40px;
}
.btn-group .btn {
    font-size: 16px;
}
.modal-content .modal-title {
    color: #337ab7;
}
.modal-content input {
    margin-right: 1em;
}
.signUpForm {
    margin-bottom: 0;
}
.signUpForm h5 {
    display: inline-block;
    margin-right: 1em;
}

.breweryList {
    margin-left: 5px;
    margin-top: 20px;
}

/***************/
/***************/
/* Brewery Item Detail */
/***************/
/***************/

.breweryDetail span{
    display: inline-block;
    padding-right: 10px;
}


/***************/
/***************/
/* MEDIA QUERY: Small Devices, Tablets */
/***************/
/***************/

@media only screen and (max-width: 768px) {
    body {
        background: url('beerbg-sm.jpg') no-repeat center bottom fixed;
        background-color: black !important;
    }
    .heading h1 {
        margin-top: 0;
    }
    .heading h4 {
        font-size: 1.8em;
        color: #ccc;
    }
    .modal-container {
        margin-bottom: 40px;
    }
}
