/***************/
/***************/
/* GENERAL */
/***************/
/***************/

body {
    background: url('beerbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

button, .btn:focus, .btn-primary:focus, .btn-primary .focus{
  outline: none;
}
body.modal-open {
    overflow:hidden;
    position: fixed;
}

.breweryList .list-group-item {
    color: #d6760b; 
    cursor: pointer;
}

.breweryList .list-group-item:hover {
    color: #337ab7;
}

/***************
/***************/
/* HEADER */
/***************/
/***************/

.heading {
    margin-top: 40px;
    font-family: 'Arvo', serif;
}
.heading h1 {
    font-size: 3.2em;
    color: #efefef;
    margin-top: -3px;
}
.heading h4 {
    font-size: 1.8em;
    color: #ccc;
}
.modal-container {
    position: relative;
    margin-bottom: 160px;
}

/***************/
/***************/
/* FORM */
/***************/
/***************/

form {
    padding: 10px;
}
.input-large {
    margin-bottom: 15px;
    font-size: 16px;
    height: 40px;
}
.btn-group .btn {
    font-size: 16px;
}
.modal-content .modal-title {
    color: #337ab7;
}
.modal-content input {
    margin-right: 1em;
}
.signUpForm {
    margin-bottom: 0;
}
.signUpForm h5 {
    display: inline-block;
    margin-right: 1em;
}
.breweryList {
    margin-left: 5px;
    margin-top: 20px;
}

/***************/
/***************/
/* Brewery Item Detail */
/***************/
/***************/


.breweryDetail .modal-body {
    overflow-y: scroll;
    height:450px;
}

.breweryDetail .title, .breweryDetail h4 {
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
}
.breweryDetail span{
    display: inline-block;
    padding-right: 10px;
}
.breweryDetail h4 {
    color: #375a7f;
}

.breweryDetail .description {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.breweryDetail .address{
    font-size: 0.7em;
    color: #a3a3a3;
}
.breweryDetail .modal-footer{
    text-align: center;
}
.heart {
    color: firebrick;
}
/***************/
/***************/
/* Loading animation */
/***************/
/***************/

.loading {
    margin-left: -100px;
    position: relative;
    margin-top: -150px;
}

.beer_text {
  font-family: 'futura';
  color: white;
  letter-spacing: 10px;
  font-size: 30px;
  position: absolute;
  top: 315px;
  left: 150px; }

.dribbble {
  color: #EC4E8B; }

.hetic {
  color: #6FB400; }

.glass {
  width: 70px;
  height: 90px;
  background: transparent;
  border: solid 3.5px white;
  border-top: none;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 200px;
  left: 200px;
  overflow: hidden;
  transform: rotate(-20deg);
  -webkit-animation: glass 4s infinite; }

.poignet {
  width: 30px;
  height: 55px;
  background: transparent;
  border: solid 3.5px white;
  position: absolute;
  top: 192px;
  left: 270px;
  border-radius: 0 16px 16px 0;
  border-left: none;
  transform: rotate(-20deg);
  -webkit-animation: poignet 4s infinite; }

.beer {
  width: 58px;
  height: 84px;
  background: transparent;
  position: absolute;
  left: 6px;
  top: 0px;
  border-radius: 0 0 5px 5px;
  overflow: hidden; }
  .beer::before {
    content: "";
    width: 270px;
    height: 250px;
    background: #E8B504;
    position: absolute;
    top: 83px;
    left: -190px;
    transform: rotate(40deg);
    -webkit-animation: beer 4s infinite; }

.mousse_1 {
  position: absolute;
  top: 192px;
  left: 198px;
  z-index: 4; }
  .mousse_1::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 4s infinite; }
  .mousse_1::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    -webkit-animation: mousse 4s infinite; }

.mousse_2 {
  position: absolute;
  top: 192px;
  left: 212px;
  z-index: 4; }
  .mousse_2::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 4s infinite; }
  .mousse_2::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 10px;
    -webkit-animation: mousse 4s infinite; }

.mousse_3 {
  position: absolute;
  top: 192px;
  left: 228px;
  z-index: 4; }
  .mousse_3::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 4s infinite; }
  .mousse_3::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
    -webkit-animation: mousse 4s infinite; }

.mousse_4 {
  position: absolute;
  top: 192px;
  left: 242px;
  z-index: 4; }
  .mousse_4::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 4s infinite; }
  .mousse_4::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    -webkit-animation: mousse 4s infinite; }

.mousse_5 {
  position: absolute;
  top: 192px;
  left: 257px;
  z-index: 4;
  -webkit-animation: mousse 4s infinite; }
  .mousse_5::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute; }

.mousse_volante {
  position: absolute;
  top: 185px;
  left: 212px;
  z-index: 4; }
  .mousse_volante::before {
    content: "";
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_volante 4s infinite; }
  .mousse_volante::after {
    content: "";
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 40px;
    -webkit-animation: mousse_volante 4s infinite; }

.mousse_interieur {
  position: absolute;
  top: 255px;
  left: 218px;
  z-index: 4;
  opacity: 0.9; }
  .mousse_interieur::before {
    content: "";
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 4s infinite; }
  .mousse_interieur::after {
    content: "";
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 30px;
    -webkit-animation: mousse_interieur 2s infinite; }

.mousse_interieur_2 {
  position: absolute;
  top: 235px;
  left: 225px;
  z-index: 4;
  opacity: 0.9; }
  .mousse_interieur_2::before {
    content: "";
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 4s infinite; }
  .mousse_interieur_2::after {
    content: "";
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 17px;
    -webkit-animation: mousse_interieur 2s infinite; }

.mousse_interieur_3 {
  position: absolute;
  top: 245px;
  left: 232px;
  z-index: 4;
  opacity: 0.9; }
  .mousse_interieur_3::before {
    content: "";
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 4s infinite; }
  .mousse_interieur_3::after {
    content: "";
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 12px;
    -webkit-animation: mousse_interieur 2s infinite; }

.mousse_interieur_4 {
  position: absolute;
  top: 241px;
  left: 238px;
  z-index: 4;
  opacity: 0.9; }
  .mousse_interieur_4::before {
    content: "";
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 4s infinite; }
  .mousse_interieur_4::after {
    content: "";
    width: 5.5px;
    height: 5.5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    left: 2px;
    -webkit-animation: mousse_interieur 2s infinite; }

/* ANIMATIONS */
@-webkit-keyframes beer {
  0% {
    transform: translateY(-5); }
  17% {
    transform: translateY(-82px); }
  100% {
    transform: translateY(-82px); } }
@-webkit-keyframes glass {
  0% {
    transform: rotate(-20deg); }
  17% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes poignet {
  0% {
    transform: rotate(-20deg); }
  17% {
    transform: rotate(0deg) translateX(5px) translateY(20px); }
  100% {
    transform: rotate(0deg) translateX(5px) translateY(20px); } }
@-webkit-keyframes mousse {
  0% {
    transform: scale(0); }
  10% {
    transform: scale(0); }
  20% {
    transform: scale(1); } }
@-webkit-keyframes mousse_volante {
  0% {
    transform: scale(0) translateY(0px); }
  10% {
    transform: scale(0) translateY(0px); }
  20% {
    transform: scale(1) translateY(-20px); }
  40% {
    opacity: 0; }
  100% {
    transform: scale(1) translateY(-80px);
    opacity: 0; } }
@-webkit-keyframes mousse_interieur {
  0% {
    transform: scale(0) translateY(0px); }
  20% {
    transform: scale(0) translateY(0px); }
  40% {
    transform: scale(1) translateY(-60px); }
  50% {
    opacity: 0; }
  100% {
    transform: scale(1) translateY(-60px);
    opacity: 0; } }


/***************/
/***************/
/* MEDIA QUERY: Small Devices, Tablets */
/***************/
/***************/

@media only screen and (max-width: 768px) {
    body {
        background: url('beerbg-sm.jpg') no-repeat center bottom fixed;
        background-color: black !important;
    }
    .heading h1 {
        margin-top: 0;
    }
    .heading h4 {
        font-size: 1.8em;
        color: #ccc;
    }
    .modal-container {
        margin-bottom: 40px;
    }
}
